body {
    counter-reset: counter-h1;
}
h3, h4, h5, h6 {
    font-weight: 300
}
table {
    font-size: 75%;
}
td:first-of-type {
  white-space: nowrap !important;
}
th {
  background-color: #666666 !important;
  color: #ffffff !important;
}
img {
    max-width: 100%;
    /* display: block; */
    /* margin: 0 auto; */
    border: 1px #e4e4e4 solid;
    /* padding: 10px; */
    border-radius: 4px;
    box-shadow: 0 0 4px #ccc;
}
H1:before {
    content: counter(counter-h1) ". ";
    counter-increment: counter-h1;
}
H1 {
    counter-reset: counter-h2;
}
H2:before {
    content: counter(counter-h1) "." counter(counter-h2) " ";
    counter-increment: counter-h2;
}
H2 {
    counter-reset: counter-h3;
}
H3:before {
    content: counter(counter-h1) "." counter(counter-h2) "." counter(counter-h3) " ";
    counter-increment: counter-h3;
}
H3 {
    counter-reset: counter-h4;
}
H4:before {
    content: counter(counter-h1) "." counter(counter-h2) "." counter(counter-h3) "." counter(counter-h4) " ";
    counter-increment: counter-h4;
}
h1 {
    color: #651fff;
    page-break-before: auto;
}
h2 {
    background-color: inherit;
}
h2:not(:first-of-type) {
    page-break-before: always;
}
h3 {
    
    background-color: inherit;
}
h4 {
    
    background-color: inherit;
}
h6 {
    
    background-color: inherit;
}
hr {
    height: 0.2em;
    border: 0;
    color: #CCCCCC;
    background-color: #CCCCCC;
}